.env
venv_MM

# directories
data/train
data/test
fig

# Legacy directories
data/legacy/
results/*/legacy/

# __pycache__ files
__pycache__

# Byte-compiled files
*.py[cod]
# C extensions
*.so
# Distribution / packaging
.Python
build/
dist/

next_steps.txt

