.env
venv_MM
venv*
*backup*
unit_test

# directories
data/train
data/test
fig

# Legacy directories
data/legacy/
results/*/legacy/

# __pycache__ files
__pycache__

# Byte-compiled files
*.py[cod]
# C extensions
*.so
# Distribution / packaging
.Python
build/
dist/

2d_dct_basis_10_224.npy

